<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all scripts</title>
    <link rel="stylesheet" href="../../webapp/css/common.css" th:href="@{/css/common.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/rest/script"
            }).then(function(data) {
                for (script of data) {
                    $('#scriptTableBody').append(buildScriptRow(script));
                }
            });
        });
    </script>
</head>
<body>
<h1>Scripts:</h1>

<table class="scripts">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody id="scriptTableBody">
    </tbody>
</table>
<div class="singleLinkDiv">
    <a href="javascript:void(0)" id="addScriptLink" class="scriptLink" onclick="buildAddScriptForm()">Add script</a>
</div>

</body>
</html>
